<!DOCTYPE html>
<html ng-app="IFSP.App">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndieForger</title>
	<link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-toastr/1.7.0/angular-toastr.css" />
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/social-btns.css">

	<!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<div ng-controller="NavbarController as navbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><strong>IndieForger</strong></a>
  </div>
  <ul class="nav navbar-nav pull-left">
    <li data-match-route="/$"><a href="/">Home</a></li>
	</ul>
	<ul ng-if="navbarCtrl.isAuthenticated()" class="nav navbar-nav pull-left">
    <li data-match-route="/info"><a href="/#/info">Info</a></li>
    <li data-match-route="/profile"><a href="/#/profile">Profile</a></li>
    <li data-match-route="/settings"><a href="/#/settings">Settings</a></li>
  </ul>

	<ul ng-if="!navbarCtrl.isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul ng-if="navbarCtrl.isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/logout">Logout</a></li>
  </ul>
</div>

<ng-view></ng-view>

<!-- vendor scripts -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="vendor/satellizer/dist/satellizer.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-toastr/1.7.0/angular-toastr.tpls.js"></script>

<!-- inject:js -->

<script src="/app.js"></script>

<script src="/config.js"></script>

<script src="/app/com/common.module.js"></script>

<script src="/app/com/account.service.js"></script>

<script src="/app/com/navbar.controller.js"></script>

<script src="/app/com/resolver.constant.js"></script>

<script src="/app/pages/pages.module.js"></script>

<script src="/app/pages/home/home.module.js"></script>

<script src="/app/pages/info/info.module.js"></script>

<script src="/app/pages/login/login.module.js"></script>

<script src="/app/pages/logout/logout.module.js"></script>

<script src="/app/pages/profile/profile.module.js"></script>

<script src="/app/pages/settings/settings.module.js"></script>

<script src="/app/pages/signup/signup.module.js"></script>

<script src="/app/pages/login/login.controller.js"></script>

<script src="/app/pages/login/login.service.js"></script>

<script src="/app/pages/logout/logout.controller.js"></script>

<script src="/app/pages/profile/profile.controller.js"></script>

<script src="/app/pages/signup/signup.controller.js"></script>

<!-- endinject -->

<!--
<script src="config.js"></script>
<script src="app.js"></script>
<script src="app/com/common.module.js"></script>
<script src="app/com/resolver.constant.js"></script>
<script src="app/com/account.service.js"></script>
<script src="app/com/navbar.controller.js"></script>
<script src="app/pages/pages.module.js"></script>
<script src="app/pages/home/home.module.js"></script>
<script src="app/pages/info/info.module.js"></script>
<script src="app/pages/login/login.module.js"></script>
<script src="app/pages/login/login.service.js"></script>
<script src="app/pages/login/login.controller.js"></script>
<script src="app/pages/logout/logout.module.js"></script>
<script src="app/pages/logout/logout.controller.js"></script>
<script src="app/pages/profile/profile.module.js"></script>
<script src="app/pages/profile/profile.controller.js"></script>
<script src="app/pages/signup/signup.module.js"></script>
<script src="app/pages/signup/signup.controller.js"></script>
<script src="app/pages/settings/settings.module.js"></script>
-->

</body>
</html>
