<!DOCTYPE html>
<html ng-app="IFSP.App">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndieForger</title>
  <link href="stylesheets/main.css" rel="stylesheet">
  <link href="stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">ng<strong>Auth</strong></a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="/">Home</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/#/login">Login</a></li>
    <li data-match-route="/signup"><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.email"></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<script src="vendor/angular/angular.js"></script>



<!-- app scripts -->
<script src="app.js"></script>
<script src="pages/home/home.module.js"></script>
<script src="pages/info/info.module.js"></script>
<script src="pages/profile/profile.module.js"></script>
<script src="pages/settings/settings.module.js"></script>
<script src="pages/pages.module.js"></script>

</body>
</html>
