<!DOCTYPE html>
<html ng-app="IFSP.App">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndieForger</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/1.7.0/angular-toastr.css" />
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><strong>IndieForger</strong></a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="/">Home</a></li>
    <li data-match-route="/info"><a href="/#/info">Info</a></li>
    <li data-match-route="/profile"><a href="/#/profile">Profile</a></li>
    <li data-match-route="/settings"><a href="/#/settings">Settings</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/#/login">Login</a></li>
    <li data-match-route="/signup"><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.email"></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<ng-view></ng-view>

<!-- vendor scripts -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="vendor/satellizer/dist/satellizer.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-toastr/1.7.0/angular-toastr.tpls.js"></script>

<!-- app scripts -->
<script src="app.js"></script>
<script src="pages/pages.module.js"></script>
<script src="pages/home/home.module.js"></script>
<script src="pages/info/info.module.js"></script>
<script src="pages/login/login.module.js"></script>
<script src="pages/login/login.service.js"></script>
<script src="pages/login/login.controller.js"></script>
<script src="pages/logout/logout.module.js"></script>
<script src="pages/profile/profile.module.js"></script>
<script src="pages/signup/signup.module.js"></script>
<script src="pages/signup/signup.controller.js"></script>
<script src="pages/settings/settings.module.js"></script>

</body>
</html>
